@inject IConsultaService consultaService
@inject IUserDataService userDataService
@inject IPacienteService pacienteService

<div class="d-flex my-4 justify-content-center">
	<div>
		<button class="index-button" @onclick="GetAllConsultas" id="consultas-clinicas-button">
			Todas as consultas
		</button>
	</div>
	<div>
		<button class="index-button" @onclick="GetAllActiveConsultas" id="consultas-clinicas-button">
			Consultas ativas
		</button>
	</div>
	<div>
		<button class="index-button" @onclick="GetTodaysConsulta" id="consultas-clinicas-button">
			Consulta de Hoje
		</button>
	</div>
</div>

<div class="text-center">
	<div class="d-flex justify-content-center">
		<div class="mx-2">
			<div class="h4 fw-bold">
				De
			</div>
			<div>
				<InputDate TValue="DateTime" id="firstDate"
					class="date-input" @bind-Value="firstDate" />
			</div>
		</div>
		<div class="mx-2">
			<div class="h4 fw-bold">
				Ate
			</div>
			<div>
				<InputDate TValue="DateTime" id="secondDate"
					 class="date-input" @bind-Value="secondDate" />
			</div>
		</div>
	</div>
	<div class="my-4">
		<button type="submit" class="index-button" id="consultas-clinicas-button"
				@onclick="async () => await GetConsultasByDateRange(firstDate, secondDate)">
			Pesquisar por data
		</button>
	</div>
</div>

@if (consultaSearchType == "Ativas")
{
	<div class="text-center h4 my-4 text-info fw-bold">
		Consultas ativas
	</div>
}

@if (consultaSearchType == "Todas")
{
	<div class="text-center h4 my-4 text-success fw-bold">
		Todas as consultas
	</div>
}

@if (consultaSearchType == "Data")
{
	<div class="text-center h4 my-4 text-danger fw-bold">
		Data
	</div>
}

@if (consultaSearchType == "Hoje")
{
	<div class="text-center h4 my-4 text-primary fw-bold">
		Hoje
	</div>
}

<Virtualize Items="Consultas" Context="consulta" OverscanCount="20">
	<div class="historico-consultas-box">
		<div>
			<div class="d-flex justify-content-center mb-2">
				<div class="fw-bold mx-2">
					@consulta.PacienteNome
				</div>
				<div class="fw-bold mx-2">
					@consulta.PacienteCel
				</div>
			</div>
			<div>
				@consulta.Data
			</div>
			<div>
				@consulta.Descricao
			</div>
		</div>
		<div>
			<div class="my-2">
				<button @onclick="() => ToggleShowDeleteConfirmation(consulta.Id)"
					class="btn btn-danger">
					Excluir
				</button>
			</div>
			<div>
				@if (showDeleteConfirmation.ContainsKey(consulta.Id) && showDeleteConfirmation[consulta.Id])
				{
					<div class="text-center my-4">
						<div class="h4 fw-bold">
							Tem certeza que deseja deletar essa consulta?
						</div>
						<div>
							<button class="btn btn-warning px-4 py-2" 
								@onclick="async () => await DeleteConsultaConfirmation(consulta.Id)">
								Sim
							</button>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</Virtualize>

@code {
	private Guid LoggedInUserId { get; set; }
	private IList<ConsultaModel>? Consultas { get; set; }
	private IList<PacienteModel>? Pacientes { get; set; }
	private string consultaSearchType = "Ativas";
	private DateTime firstDate = DateTime.Today;
	private DateTime secondDate = DateTime.Today.AddMonths(1);
	private Dictionary<Guid, bool> showDeleteConfirmation = new Dictionary<Guid, bool>();

	protected override async Task OnInitializedAsync()
	{
		LoggedInUserId = await userDataService.GetLoggedInUserId();

		await GetAllActiveConsultas();

		if (Consultas is not null)
		{
			Pacientes = await pacienteService.GetAllPacientes(LoggedInUserId);
		}
	}

	private async Task GetAllConsultas()
	{
		var consultas = await consultaService.GetAllConsultas(LoggedInUserId);

		if (consultas is not null)
		{
			Consultas = consultas.OrderBy(x => x.Data).ToList();
		}

		consultaSearchType = "Todas";
	}

	private async Task GetAllActiveConsultas()
	{
		await GetAllConsultas();

		if (Consultas is not null)
		{
			Consultas = Consultas.Where(x => x.Data > DateTime.Now).OrderBy(x => x.Data).ToList();

			consultaSearchType = "Ativas";
		}
	}

	private async Task GetConsultasByDateRange(DateTime firstDate, DateTime secondDate)
	{
		await GetAllConsultas();

		if (Consultas is not null)
		{
			Consultas = Consultas.Where(x => x.Data > firstDate && x.Data < secondDate)
			.OrderBy(x => x.Data).ToList();

			consultaSearchType = "Data";
		}
	}

	private async Task GetTodaysConsulta()
	{
		await GetAllConsultas();

		if (Consultas is not null)
		{
			Consultas = Consultas.Where(x => x.Data.Date == DateTime.Today).ToList();

			consultaSearchType = "Hoje";
		}
	}

	private async Task DeleteConsultaConfirmation(Guid consultaId)
	{
		await consultaService.DeleteConsulta(consultaId);

		var consulta = Consultas!.FirstOrDefault(x => x.Id == consultaId);

		if (consulta is not null)
		{
			Consultas!.Remove(consulta);
		}
	}

	private void ToggleShowDeleteConfirmation(Guid consultaId)
	{
		if (showDeleteConfirmation.ContainsKey(consultaId))
		{
			showDeleteConfirmation[consultaId] = !showDeleteConfirmation[consultaId];
		}
		else
		{
			showDeleteConfirmation[consultaId] = true;
		}
	}
}
