@page "/"
@inject NavigationManager navManager;
@inject IUserDataService userDataService;
@inject IPacienteService pacienteService;

<div class="index-buttons-div">
    <button class="index-button" @onclick="ToggleShowPacientes">
        Buscar pacientes
    </button>
    <button class="index-button" @onclick=ToggleShowCadastrarPaciente>
        Cadastrar paciente
    </button>
    <button class="index-button" @onclick=ToggleShowConsultas>
        Consultas
    </button>
</div>

@if (showCadastrarPaciente)
{
    <Cadastro/>
}

@if (showPacientesList)
{
    <Pacientes />
}

@if (showConsultas)
{
    <ConsultasClinica />
}

@code {
    private Guid LoggedInUserId { get; set; }
    private bool showPacientesList = true;
    private bool showCadastrarPaciente = false;
    private bool showConsultas = false;

    protected override async Task OnInitializedAsync()
    {
        LoggedInUserId = await userDataService.GetLoggedInUserId();

        if (LoggedInUserId == Guid.Empty)
        {
            navManager.NavigateTo("/login");
        }
    }

    //Toggles

    private void ToggleShowCadastrarPaciente()
    {
        showCadastrarPaciente = !showCadastrarPaciente;
        showPacientesList = false;
        showConsultas = false;
    }

    private void ToggleShowPacientes()
    {
        showPacientesList = !showPacientesList;
        showCadastrarPaciente = false;
        showConsultas = false;
    }

    private void ToggleShowConsultas()
    {
        showConsultas = !showConsultas;
        showPacientesList = false;
        showCadastrarPaciente = false;
    }
}
