@page "/"
@inject IUserDataService userDataService
@inject NavigationManager navManager

@if(LoggedInUserId != Guid.Empty)
{
	@LoggedInUserId
}
else
{
	<p>Usuario não esta logado</p>
}

@code {
	private Guid LoggedInUserId { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await GetLoggedInUserId();

		if (LoggedInUserId == Guid.Empty)
		{
			navManager.NavigateTo("/login");
		}
	}

	private async Task GetLoggedInUserId()
	{
		LoggedInUserId = await userDataService.GetLoggedInUserId();
	}
}
