@page "/"
@inject NavigationManager navManager;
@inject IUserDataService userDataService;

<div class="index-buttons-div">
    <button class="index-button">
        Buscar clientes
    </button>
    <a class="index-anchor" href="/cadastro">
        Cadastrar paciente
    </a>
</div>


@code {
    private Guid LoggedInUserId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetLoggedInUserId();

        if (LoggedInUserId == Guid.Empty)
        {
            navManager.NavigateTo("/login");
        }
    }

    private async Task GetLoggedInUserId()
    {
        LoggedInUserId = await userDataService.GetLoggedInUserId();
    }
}
