@page "/"
@inject NavigationManager navManager;
@inject IUserDataService userDataService;

<a href="/cadastro">
    Cadastrar paciente
</a>

@code {
    private Guid LoggedInUserId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetLoggedInUserId();

        if (LoggedInUserId == Guid.Empty)
        {
            navManager.NavigateTo("/login");
        }
    }

    private async Task GetLoggedInUserId()
    {
        LoggedInUserId = await userDataService.GetLoggedInUserId();
    }
}
