@page "/"
@inject NavigationManager navManager;
@inject IUserDataService userDataService;

<p>O seu id é: @LoggedInUserId</p>

@code {
    private Guid LoggedInUserId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetLoggedInUserId();

        if (LoggedInUserId == Guid.Empty)
        {
            navManager.NavigateTo("/login");
        }
    }

    private async Task GetLoggedInUserId()
    {
        LoggedInUserId = await userDataService.GetLoggedInUserId();
    }
}
