:root {
    --main-background-color: #1BA300;
}

/* Navbar */

.navbar {
    background-color: var(--main-background-color);
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 20px 20px;
}

.nav-links-div {
    display: flex;
    font-size: 25px;
    font-weight: bold;
}

.nav-link {
    color: #FFF;
}

.nav-link:hover{
    transition: 500ms;
    cursor: pointer;
    color: #808080;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
}

.logo:hover {
    transition: 500ms;
    cursor: pointer;
    color: #808080;
}

/* Registration */

.registration-form-box {
    text-align: center;
    max-width: 50%;
    margin: 20px 0 0 25%;
    border: solid #1BA300;
    border-radius: 10px;
}

.criar-conta-label {
    background-image: linear-gradient(#1BA300, #22CF00);
    font-size: 30px;
    font-weight: bold;
    color: #FFF;
    margin: 0 0 10px 0;
    padding: 20px;
}

.criar-conta-label > p {
    margin: 0;
}

.form-input-text {
    border: 0 #808080;
    border-bottom: groove;
    margin: 0 0 20px 0;
    font-size: 25px;
}

.form-input-text:focus {
    outline: none;
}

.registrar-button,
.first-style-button {
    background-color: #22CF00;
    color: #FFF;
    border-color: transparent;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px 0;
}

    .registrar-button:hover,
    .first-style-button:hover{
        transition: 500ms;
        background-color: #1BA300;
    }

.first-style-button {
    text-decoration: none;
}

.first-style-button:hover {
    color: #FFF;
}

.alert-message-div {
    text-align: center;
}

.alert-message {
    font-size: 20px;
    font-weight: bold;
}

/* Login */

.iniciar-sessao-box {
    text-align: center;
    width: 50%;
    margin: 20px 0 0 25%;
    border: solid #1BA300;
    border-radius: 10px;
}

.iniciar-sessao-label {
    background-image: linear-gradient(#1BA300, #22CF00);
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    margin: 0 0 20px 0;
}

.iniciar-sessao-label > p {
    margin: 0;
}

.login-button,
.registre-se-aqui-button{
    background-color: #22CF00;
    color: #FFF;
    border-color: transparent;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px 0;
}

    .login-button:hover {
        transition: 500ms;
        background-color: #1BA300;
    }

.registre-se-aqui-div {
    width: 50%;
    margin: 20px 0 0 25%;
    padding: 20px 0;
    text-align: center;
    border: solid #1BA300;
    border-radius: 10px;
}

.registre-se-aqui-div-p {
    font-size:  25px;
    font-weight: bold;
    margin: 0 0 30px 0;
}

.registre-se-aqui-button {
    text-decoration: none;
}

.registre-se-aqui-button:hover {
    transition: 500ms;
    color: #fff;
    background-color: #1BA300;
}

/* Cadastro */

.cadastrar-form-div {
    border: solid #808080;
    border-radius: 25px;
    text-align: center;
    width: 90%;
    margin-left: 5%;
}

.cadastrar-cliente-label {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0;
}

.dados-cadastrais-label,
.endereco-label {
    background-color: var(--main-background-color);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    padding: 20px 0;
    border-radius: 20px 20px 0 0;
}

.endereco-label {
    border-radius: 0;
    margin: 30px 0;
}

.endereco-label > p {
    margin: 0;
}

.dados-cadastrais-label > p {
    margin: 0;
}

.cadastro-input,
.nome-sobrenome-input {
    width: 98%;
    margin: 10px 0;
    font-size: 20px;
    padding: 4px;
}

.nome-sobrenome-input {
    width: 80%;
}

.nome-sobrenome-input-div {
    width: 80%;
}

.nome-sobrenome-input-main-div {
    display: flex;
    justify-content: space-evenly;
}

.cpf-cel-email-main-div {
    display: flex;
    justify-content: space-evenly;
}

.cpf-cel-email-div {
    width: 30%;
}

.cep-estado-cidade-div,
.bairro-rua-numero {
    display: flex;
    justify-content: space-evenly;
}

.endereco-input {
    width: 30%;
}

.cadastrar-paciente-button {
    background-color: var(--main-background-color);
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    border-radius: 20px;
    padding: 20px 25px;
    margin: 20px 0;
    border-color: #FFF;
}

.cadastrar-paciente-button:hover {
    transition: 500ms;
    background-color: #21CB00;
}

/* Index */

.index-buttons-div {
    text-align: center;
    margin: 20px 0 0 0;
}

.index-button,
.index-anchor{
    background-color: var(--main-background-color);
    color: white;
    padding: 20px 30px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.index-button:hover,
.index-anchor:hover{
    color: white;
    transition: 500ms;
    background-color: #22CF00;
}

.index-anchor {
    padding: 24px 25px;
} 

.index-button {
    border-color: transparent;
}

.pacientes-label {
    display: flex;
    font-weight: bold;
    font-size: 25px;
    background-color: var(--main-background-color);
    color: #FFF;
    margin: 20px 0 0 0;
    padding: 25px 0;
}

.nome-label {
    width: 60%;
    margin-left: 10px;
}

.cpf-cadastrado-div {
    display: flex;
}

.cpf-label {
    margin-right: 255%;
    margin-left: 25px
}

.pacientes-box {
    display: flex;
    font-size: 20px;
    padding: 10px 0;
    border: solid #808080;
    border-top: transparent;
    text-decoration: none;
    color: #000;
}

.pacientes-box:hover {
    color: #000;
    background-color: #C2C2C2;
    transition: 500ms;
}

.paciente-nome-div {
    width: 60%;
    margin-left: 10px;
}

.cpf-createddate-div {
    display: flex;
}

.paciente-cpf-div {
    margin-right: 220%;
}


/* Paciente Details */

.details-parent-div {
    border: solid #808080;
    margin: 20px 0;
    width: 50%;
    margin-left: 25%;
}

.details-div {
    font-size: 22px;
    text-align: center;
}

.details-label {
    font-weight: bold;
    margin: 14px 0 0 0;
    font-size: 22px;
}

.details-endereco-first-main-div {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
    font-size: 22px;
}

.details-endereco-label,
.details-contato-label {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: var(--main-background-color);
    color: #FFF;
    padding: 20px 15px;
    margin: 30px 0;
    width: 100%;
}

.voltar-button-div {
    text-align: center;
}

