@inherits LayoutComponentBase

<div>
    <main>
        <navbar class="navbar">
            <a class="logo" href="#">
                Clinica
            </a>
            <div class="nav-links-div">
                <AuthorizeView>
                    <Authorized>
                        <a class="nav-link">
                            @context.User.FindFirst(ClaimTypes.Name)?.Value
                        </a>
                        <NavLink class="nav-link" href="logout">
                            <span class="oi oi-account-logout">Sair</span>
                        </NavLink>
                    </Authorized>
                    <NotAuthorized>
                        <NavLink class="nav-link" href="login">
                            <span class="oi oi-account-logout">Entrar</span>
                        </NavLink>
                        <NavLink class="nav-link" href="register">
                            <span class="oi oi-account-logout">Registrar</span>
                        </NavLink>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </navbar>
        <article>
            @Body
        </article>
    </main>
</div>
